<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
</head>
<body>
<!-- Usage: <div th:replace="fragments/layout :: layout(~{::section})"> <section>...page content...</section> </div> -->
<div th:fragment="layout(content)">
    <div th:replace="fragments/header :: navbar"></div>

    <main>
        <div th:insert="${content}"></div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
