services:

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret_password
      MYSQL_DATABASE: codingnomads
    ports:
      - 3306:3306
    volumes:
      - ./data:/var/lib/mysql